@charset "UTF-8";
.wiky_preview_area {
	font-family: Tahoma, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
	font-size: 13px;
	line-height: 1.5em;
	color: #000;
	font-weight:350;
	width:600px;
	display:block;
}


.wiky_preview_area a{
	padding:5px;
	font-weight:400;
	color: #3b73af;
	font-decoration: none;
}

.wiky_preview_area a:hover{
	padding:5px;
	font-weight:400;
	text-decoration:none;
}


.wiky_preview_area > ol, 
.wiky_preview_area > ul, 
.wiky_preview_area > ul > li,
.wiky_preview_area > ol > li {
	list-style: disc inside none;
}
